<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Laila:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
    <style>
        .visible{
            /* position: absolute;
            top:20%;
            left:50%;
            width: 400px;
            height: 300px; */
            position: absolute;
            top:20%;
            left:50%;
            width: 400px;
            height: 300px;
            background-color: blanchedalmond;
        }
        .visibleNextButton{
            display:block
        }

        .defaultNextButton{
            visibility: hidden;
        }
    </style>
</head>

<body>
    <img id="image" src="<%= allQuestions[qnum].happy %>" width="200" height="200"/>

    <div class="questionbox">
    <h1> <%= allQuestions[qnum].ques %> </h1>
    </div>

    <button class="button" onclick="SendAnswer('<%= allQuestions[qnum].num %>', 'opt1')"><%= allQuestions[qnum].opt1 %></button>
    <button class="button" onclick="SendAnswer('<%= allQuestions[qnum].num %>', 'opt2')"><%= allQuestions[qnum].opt2 %></button>
    <button class="button" onclick="SendAnswer('<%= allQuestions[qnum].num %>', 'opt3')"><%= allQuestions[qnum].opt3 %></button>
    <button class="button" onclick="SendAnswer('<%= allQuestions[qnum].num %>', 'opt4')"><%= allQuestions[qnum].opt4 %></button>


    <!-- <button onclick="SendAnswer(1,{allQuestions[]})">{allQuestions[].opt1}</button>
    <button onclick="SendAnswer(2,{allQuestions[]})">{allQuestions[].opt2} </button>
    <button onclick="SendAnswer(3,{allQuestions[]})">{allQuestions[].opt3}</button>
    <button onclick="SendAnswer(4,{allQuestions[]})">{allQuestions[].opt4}</button> -->


        <h2></h2>
        <a id="nextButton" href=/quiz?q=<%= qnum+1%>
            class="defaultNextButton">
            <button class="next">Next</button>
        </a>
        <!-- <img  class="defaultNextButton" width="100" height="100"> -->
        <h3 id="score" ></h3>



    <script>
        var answerDiv = document.querySelector("div")
        var rightWrong = document.querySelector("h2")
        var nextButton = document.querySelector("#nextButton")
        var scoreNum = document.querySelector("#score")
        var instructorFace = document.querySelector("#image")
        var buttondamn = document.querySelectorAll(".button")
        function SendAnswer(ans, ques) {
            buttondamn.forEach(elem=>{elem.disabled = true})
            fetch(`http://localhost:3000/checkAnswer?answer=${ans}&question=${ques}`).then(async (data) => {
                //console.log(await data.json())
                const results = await data.json();

                if (results.fact){
                    // answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Correct")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    instructorFace.classList.remove("defaultNextButton")
                    instructorFace.classList.add("visibleNextButton")
                    // scoreNum.innerText = results.finalScore
                    instructorFace.src = results.image
                    console.log(document.getElementById("nextButton").href)
        


                } else {
                    // answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Wrong")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    instructorFace.classList.remove("defaultNextButton")
                    instructorFace.classList.add("visibleNextButton")
                    // scoreNum.innerText = results.finalScore
                    instructorFace.src = results.image
                    console.log(document.getElementById("nextButton").href)

                }
                if(document.getElementById("nextButton").href === "http://localhost:3000/quiz?q=10"){
                    document.getElementById("nextButton").href = "CHANGE THIS TO WHATEVER PAGE ITS SUPPOSED TO ROUTE TO FOR THE FINAL SCORE"
                }
            })
            return
        }
    </script>
</body>

</html>