<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>Tweetaholic!</title>
</head>

<body>
  <a class="button" href="/twoot/new">Twoot Your Thoughts</a>
  <h1>Twoot of the Day!</h1>
  <form action="/" method="post">
    <button class="report" type="submit">Sign Out</button>
  </form>

  <h3 class="reportMessage"></h3>
  <% post.map((o)=>{ %>
    <div class="postBox">
      <h2>
        <%= o.title %>
      </h2>
      <p>
        <%= o.body %>
      </p>
      <p class="dateTime">
        <%= o.createdAt.toLocaleString() %>
      </p>
      <h6>Author ID:
        <%= o.author %>
      </h6>
      <div class="moreButtons">
        <a href="twoot/<%= o.id %>">Read More</a>
        <form action="/send-report/<%= o.id %>" method="post">
          <button class="report" type="submit">Report</button>
        </form>
      </div>

    </div>
    <% }) %>
</body>
<script>
  var report = document.querySelector(".reportMessage")
  var form = document.querySelectorAll("button")
  form.forEach((o) => {
    o.addEventListener("click", () => {
      report.innerText = "This Post Has Been Reported"
    })
  })
</script>

</html>